
{% load staticfiles %}

<div class="container-fluid" style="height:70%;">

    <div class="row" style="height:100%">

        <div class="col-xs-12" style="height:100%;background: url({% static "tci/img/pfm.jpg" %}) center center no-repeat;background-size:cover;padding-top:50px;">

        </div>

    </div>

    <div class="row">

        <div class="col-xs-12" style="padding:55px">
            <a href="{% static "pfm_promotion/apps/pfm.apk" %}">
                <button type="button" class="btn btn-default">
                    دانلود کپسول فوتبال
                </button>
            </a>
        </div>

    </div>



</div>
