{% load staticfiles %}


<div class="container-fluid" style="height:65%;background: url({% static "tci/img/pfm.jpg" %}) center center no-repeat;background-size:cover;padding-top:50px;">
</div>
<div class="container">
<div class="row">
	<div class="row control-group" style="padding-top: 50px;">
		<div class="form-group col-xs-12" style="text-align: center;">
			<a target="_self" href="{% static "pfm_promotion/apps/pfm.apk" %}" download="CapsuleFootball.apk">
                <img class="img-responsive" src="{% static "pfm_promotion/img/22.jpg" %}" alt="" style="max-width: 300px;">
            </a>
        </div>
    </div>
</div>
