{% load staticfiles %}

<html>
<head>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-56771694-3', 'auto');
	ga('send', 'pageview');

	</script>


</head>

<body>

<div class="container-fluid" style="height:65%;background: url({% static "pfm_promotion/img/promo_second_step.jpg" %}) center center no-repeat;background-size:contain;padding-top:50px;">
</div>
<div class="container">
<div class="row">
	<div class="row control-group" style="padding-top: 50px;">
		<div class="form-group col-xs-12" style="text-align: center;">
			<a target="_self" href="{% static "pfm_promotion/apps/pfm.apk" %}" download="CapsuleFootball.apk">
                <img class="img-responsive" src="{% static "pfm_promotion/img/22.jpg" %}" alt="" style="max-width: 300px;">
            </a>
        </div>
    </div>
</div>

</body>

</html>
