{% load staticfiles %}

<html>

<head>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-56771694-3', 'auto');
    ga('send', 'pageview');

    </script>
</head>

<body>

<div class="container-fluid"style="height:65%;background: url({% static "pfm_promotion/img/promo_first_step.jpg" %}) center center no-repeat;background-size:contain;padding-top:50px;">
</div>
<div class="container">
<form method="post">{% csrf_token %}

    <div class="row control-group" style="padding-top: 50px;">
        <div class="form-group col-xs-12" style="text-align: center;direction:rtl">
            <input id="inputdefault" name="mobile_no" type="text" placeholder="لطفا شماره موبایل خود را وارد کنید (اختیاری)"
			style="font-size: 18px;line-height: 3;padding-left: 15px; padding-right: 15px; border: 2px solid #e1e1e1;width: 400px;direction:rtl">
        </div>
    <div class="col-xs-12" style="text-align: center;direction:rtl; padding-top:20px;">
        <button type="submit" style="background: url('{% static "pfm_promotion/img/11.jpg" %}') no-repeat center center; background-size:contain;font-weight: 400;
        display: inline-block;cursor: pointer; border: none;
            ; width: 300px; height: 100px;"></button></div>
	</div>
</form>
</div>


</body>

</html>
