{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">
	<head>

		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static "website/css/style.css" %}">

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

		<style>

            body {
            	font-family: IRANSans !important;
            	font-weight: 300;
            	background-color: #E2E2E2;
            	margin: 0;
            }

			#intro_image{
  				float:left;
		   	    background:url("img/main_image.png" ) no-repeat center center;
  				height: 500px;
				background-size:cover;
			}
			#android_link{
				background-color:#607d8b;
				border-radius:8px 8px;

			}


			.vcenter {
				display: inline-block;
				vertical-align: middle;
				float: none;
			}

		</style>

		<title>
			پیشاهنگ
		</title>

	</head>

	<body>


		<div class="container" style="padding-bottom:30px;padding-top:30px" >

			<div class="row" >

				<div class="col-xs-12" >
					<img src="{% static "website/img/pishahang_site.png" %}" class="img-responsive" alt="" style="display:block;margin:auto;width:850px">
				</div>

			</div>

		</div>

		<div class="container">

			<div class="row" style="padding:10px;" >

				<div class="col-sm-2"> </div>

				<div class="col-xs-12 col-sm-4 ">

					<a href="#" >

						<div  class="row" style="padding:7px" style="height:100px;background-color:#546e7a;">

							<div id="download_link_android" class="col-xs-12 col-md-12"  style="background:url({%static "website/img/button_ios.png"%}) no-repeat center center; background-size:contain; height:80px; border-radius: 10px;">

							</div>

						</div>
					</a>

				</div>

				<div class="col-xs-12 col-sm-4" style="">

					<a href="#" >
						<div  class="row" style="padding:7px" style="height:100px">

								<div id="download_link_windows" class="col-xs-12 col-md-12"  style="background:url({%static "website/img/button_bazaar.png"%}) no-repeat center center; background-size:contain; height:80px;border-radius: 10px;">

								</div>

						</div>
					</a>

				</div>

				<div class="col-sm-2"> </div>
		</div>

	</div>


	<div class="container" style="padding-top:100px;padding-bottom:100px">

		<div class="row" >

			<div class="col-xs-2 col-sm-1"> </div>

			<div class="col-xs-8 col-sm-5 col-sm-push-5 vcenter">
				<img src="{% static "website/img/Pishahang_login.png" %}" class="img-responsive" alt="" style="display:block;margin-left:auto;margin-right:auto;width:400px">

			</div>

			<div class="col-xs-12 col-sm-5 col-sm-pull-5 vcenter">

				<div class="row well" style="text-align: center;background-color:#E2E2E2">
					<p style="font-family:IRANSans; font-weight:500;font-size:150%;direction:rtl;padding-top:30px">
						آوای انتظار خودت رو از بین هزاران آهنگ انتخاب کن. پاپ، سنتی، کلاسیک و مذهبی، کدوم سبک رو بیشتر دوست داری؟‌
					</p>
				</div>

			</div>

		</div>



		<div class="row" style="padding-top:50px">

			<div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-1 vcenter" style="" >
				<img src="{% static "website/img/man_showing_mobile.png" %}" class="img-responsive" alt="" style="display:block;margin-left:auto;margin-right:auto">
			</div>

			<div class="col-xs-12 col-sm-5 vcenter">

				<div class="row well" style="text-align: center;background-color:#E2E2E2">
					<p style="font-family:IRANSans; font-weight:500;font-size:150%;direction:rtl;">
						با پیشهاهنگ می تونی مهمون نوازی کنی! دوستانت رو به لحظات خوش انتظار مهمون کن.
					</p>
				</div>

			</div>

		</div>

		<div class="row" style="padding-top:50px">

			<div class="col-xs-2 col-sm-1"> </div>

			<div class="col-xs-8 col-sm-5 col-sm-push-5 vcenter">
				<img src="{% static "website/img/girls_feeelings.png" %}" class="img-responsive" alt="" style="display:block;margin-left:auto;margin-right:auto">
			</div>

			<div class="col-xs-12 col-sm-5 col-sm-pull-5 vcenter">

				<div class="row well" style="text-align: center;background-color:#E2E2E2">
					<p style="font-family:IRANSans; font-weight:500;font-size:150%;direction:rtl;padding-top:30px">
						پیشاهنگت با حال و هوات هماهنگه... روزای عادی وقتی که خیلی خوشحالی، یا روزایی که غمناکی می تونی پیشهاهنگ خوشحال یا غمناک بزاری.
					</p>
				</div>

			</div>

		</div>


		<div class="row" style="padding-top:50px">

			<div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-1 vcenter" style="" >
				<img src="{% static "website/img/suggest_rbt.png" %}" class="img-responsive" alt="" style="width:300px;display:block;margin-left:auto;margin-right:auto">

			</div>

			<div class="col-xs-12 col-sm-5 vcenter">

				<div class="row well" style="text-align: center;background-color:#E2E2E2">
					<p style="font-family:IRANSans; font-weight:500;font-size:150%;direction:rtl;">
						اگر از یه پیشاهنگ خوشت اومد می تونی با این برنامه برای دوستت خیلی راحت بفرسیتیش.
					</p>
				</div>

			</div>

		</div>

	</div>


	<div>

        <div class="container-fluid" style="padding-top:60px;background-color:#6d717a;padding-bottom:50px">

			<div class="row" style="direction:rtl;">

				<div class="col-lg-2"></div>

				<div class="col-lg-2 col-lg-push-6" style="padding-bottom:30px" >

					<div class="row">
							<div class="col-xs-12 " style="background-color:#e7aa3f;color:white;border-radius:4px;">

								<p style="text-align:center;padding-top:7px;font-weight:600;font-size:110%;direction:rtl;">
										<span class="glyphicon glyphicon-ok"></span>&nbsp;
										یه عالمه آوای انتظار
								</p>
							</div>
					</div>

					<div class="row" style="padding-top:20px;">

							<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0" style="color:white;">

								<div class="row">
									<div class="col-xs-12 col-sm-12" style="direction:ltr;text-align:center;">
										<p style="font-weight:500;font-size:110%;direction:rtl;">
										آوای انتظار خودت رو توی هر سبکی که دوست داری انتخاب کن. توی پیشاهنگ می تونی محبوب ترین و جدیدترین آهنگ ها رو هر موقع خواستی ببینی.
										</p>
									</div>
								</div>

							</div>
					</div>


					<div class="row" style="padding-top:20px;" >
						<div class="col-xs-12" style="color:white; background:url({% static "bitasync_site/img/gbg_typography_light_cropped.png" %} ) no-repeat center center; background-size:contain;height:30px; ">
						</div>
					</div>


				</div>

				<div class="col-lg-1"></div>

				<div class="col-lg-2" style="padding-bottom:30px;">

					<div class="row">
							<div class="col-xs-12 " style="background-color:#bf5392;color:white;border-radius:4px;">

								<p style="text-align:center;padding-top:7px;font-weight:600;font-size:110%;direction:rtl;">
										<span class="glyphicon glyphicon-user"></span>&nbsp;
							   تماس با ما
								</p>
							</div>
					</div>

					<div class="row" style="padding-top:20px;">
							<div class="col-xs-12" style="color:white;">

								<p style="font-weight:500;font-size:120%;text-align:center;direction:ltr" >
									<span class="glyphicon glyphicon-envelope" style="font-size:140%;vertical-align:middle"></span>
								</p>

								<p style="font-weight:500;font-size:100%;text-align:center;direction:ltr" >
									hi@gooshibegooshi.com
								</p>

							</div>
					</div>


				</div>

				<div class="col-lg-1"></div>


				<div class="col-lg-2 col-lg-pull-6" style="padding-bottom:30px;">

                    <div class="row" >
                            <div class="col-xs-12" style="background-color:#0586be;color:white;border-radius:4px;">

                                <p style="text-align:center;padding-top:7px;font-weight:600;font-size:110%;direction:rtl;">
                                        <span class="glyphicon glyphicon-heart-empty"></span>&nbsp;
                                        دوست های ما
                                </p>
                            </div>
                    </div>


					<div class="row" style="padding-top:20px;" >
                        <div class="col-xs-12" style="color:white; background:url({% static "website/img/mci_logo_light_cropped.png" %} ) no-repeat center center; background-size:contain;height:30px; ">
                        </div>
                    </div>

                    <div class="row" style="padding-top:20px;" >
                            <div class="col-xs-12" style="color:white; background:url({% static "website/img/kaspersky_logo.png" %} ) no-repeat center center; background-size:contain;height:30px; ">
                            </div>
                    </div>

                    <div class="row" style="padding-top:20px;" >
                        <div class="col-xs-12" style="color:white; background:url({% static "website/img/magia_light_cropped.png" %} ) no-repeat center center; background-size:contain;height:30px ">
                        </div>
                    </div>



				 </div>



		</div>

	</body>


</html>
